[Unit]
Description=Storm UI daemon
Documentation=http://storm.apache.org/
Wants=network-online.target
After=network-online.target

[Service]
Environment=STORM_HOME={{storm_home}}
WorkingDirectory={{storm_home}}
User={{storm_user}}
Group={{storm_group}}

ExecStart={{storm_home}}/bin/storm ui

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
